.containerNotification {
  position: absolute;
  top: 10px;
  right: 10px;
  width: auto;
}

.wrapperNotification {
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  padding-right: 30px;
  position: relative;
  margin-bottom: 15px;
}

.wrapperNotificationDanger {
  background-color: red;
}

.wrapperNotificationSuccess {
  background-color: green;
}

.closeNotification {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 5px;
  right: 5px;

  path {
    fill: #fff;
  }
}
